#titulo-1{
    text-align: center;
    text-transform: uppercase;
    color: greenyellow;
}
#titulo-2{
    text-align: left;
    color: rebeccapurple;
}
.paragrafo-especial{
    font-family: cursive;
    color: darkred;
    font-size: 18px;
}
.paragrafo-normal{
    font-size: 14px;
    text-align: justify;
}
